.header{
  display: flex;
  align-items: center;
  text-align: center;
  height: 3vw;

  background-color: rgba(125, 125, 125, 0.54);
}

.header-content-right{
  margin-left: auto;
  padding: 10px;
}

.body{
  background-color: black;
  height: 100vh;
}

.body-content{
  padding: 20px;
}

.text-logo{
  font-size:2vw;
  margin-left: 10px;
  margin-top: 0px;
  text-align:center;
}

.content-centered{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.content-card{
  margin: 20px;
}

.rating{
  margin-bottom: 10px;
}