.text-logo{
  margin-left: 20px;
}

.content-centered{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.content-card{
  margin: 20px;
}

.rating{
  margin-bottom: 10px;
}